@model IEnumerable<OnlineSatis.Models.DB.Kategori>
<ul>
    @foreach (var item in Model)
    {
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
            <a href="/Home/KategoriPartical/@item.KategoriId" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                @item.Adi
                @*<span>(@item.Urun.Count())</span>*@
            </a>
        </button>
    }


</ul>
