
@model  IEnumerable<OnlineSatis.Models.DB.Slider>



            
@*<div id="slides">
    <div class="slides_container">
        @foreach (var item in Model )
        {
            <a href="http://www.flickr.com/photos/jliba/4665625073/"
               title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!"
               target="_blank">
                <img src="@item.ResimURL[0]"
                     width="570" height="270"
                     alt="Slide 1">
            </a>
        }
      
        <a href="http://www.flickr.com/photos/stephangeyer/3020487807/"
           title="Taxi | Flickr - Photo Sharing!" target="_blank">
            <img src="http://slidesjs.com/examples/standard/img/slide-2.jpg"
                 width="570" height="270"
                 alt="Slide 2">
        </a>
        <a href="http://www.flickr.com/photos/childofwar/2984345060/"
           title="Happy Bokeh raining Day | Flickr - Photo Sharing!"
           target="_blank">
            <img src="http://slidesjs.com/examples/standard/img/slide-3.jpg"
                 width="570" height="270"
                 alt="Slide 3">
        </a>
    </div>
    <a href="#" class="prev">
        <img src="img/arrow-prev.png" width="24" height="43"
             alt="Arrow Prev">
    </a>
    <a href="#" class="next">
        <img src="img/arrow-next.png" width="24" height="43"
             alt="Arrow Next">
    </a>
</div>*@


           

<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            @foreach (var item in Model)
            {
                <div class="item-slick1" style="background-image: url(@Html.DisplayFor(sa=>item.ResimURL));">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                <span class="ltext-101 cl2 respon2">
                                    @Html.DisplayFor(sa=>item.Baslik)
                                </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                    @Html.DisplayFor(sa=>item.Aciklama)
                                </h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    XXXX
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            

        </div>
    </div>
</section>
