@model OnlineSatis.Models.DB.Marka
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Marka Düzenle</h2>

<div class="form">
    @*<form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Blog/Create/" enctype="multipart/form-data">*@

    @using (Html.BeginForm("Edit", "Marka", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group ">
                <label for="cname" class="control-label col-lg-2">Marka Adı <span class="required">*</span></label>
                <div class="col-lg-10">
                    <input class="form-control" id="Adi" name="Adi"  type="text" required value="@Model.Adi" />
                </div>
            </div>

        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Açıklama <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Aciklama">@Model.Aciklama</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <button class="btn btn-default" type="button"><a href="/Marka/Index">İptal</a></button>
            </div>
        </div>
    }

    @*</form>*@
</div>
